/* =============
    Demo
============= */

#sharpay-container{
    display: grid;
    grid-template-columns: auto 1% auto;
    grid-template-areas: ". sharpay .";

    >div{
        grid-area: sharpay;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        svg{
            width: 100%;

            #rpm{
                display:none;
            }

            #mph{
                display:none;
            }

            #audio-svg{
                display:none;
            }

            #gas-indicator{
                display:none;
            }

            #gps-screen{
                display:none;
            }

            #marquee-left{
                display:none;
            }

            #marquee-right{
                display:none;
            }

            #words{
                display:none;
            }
        }
    }
}