/* =============
    Demo
============= */
#sharpay-container {
  display: grid;
  grid-template-columns: auto 1% auto;
  grid-template-areas: ". sharpay .";
}
#sharpay-container > div {
  grid-area: sharpay;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#sharpay-container > div svg {
  width: 100%;
}
